@model AgendaOdontologica.Models.Agendamento

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Deseja Deletar?</h3>
<div>
    <h4>Agendamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HoraAtendimento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoraAtendimento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TempoAtemdimento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TempoAtemdimento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dentista)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dentista.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Paciente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Paciente.NomePaciente)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Secretaria)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Secretaria.Nome)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
